footer {
    
    padding: 6rem 1rem 2rem 1rem;

    .benefits-items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .benefits-item {
        font-size: 1.2rem;
        padding-right: 1rem;

        i {
            color: $green;
            margin-right: 0.1rem;
        }
    }
}
}

@media screen and (max-width: 1024px) {
    footer {
        position: relative;
        display: flex;
        justify-content: center;
        padding: 7rem 1rem 0 1rem;

        .benefits-items {
            display: block;
        }
    }
}
