html {
  box-sizing: border-box;
}

body {
  overflow-y: hidden;
}

@media screen and (max-width: 1026px) {
  body {
    overflow-y: unset;
  }
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: $white;
  text-decoration: none;
}

ul {
  list-style: none;
}
